name: bn_staff
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  flutter_form_builder: ^6.0.1
  flutter_slidable: ^0.6.0
  dio: ^4.0.0
  shared_preferences: ^2.0.5
  flutter_easyloading: ^3.0.0
  email_validator: ^2.0.1
  flutter_launcher_icons: ^0.9.0
  syncfusion_flutter_gauges: ^19.1.64
  expansion_tile_card: ^2.0.0
  expandable: ^5.0.1
  font_awesome_flutter: ^9.0.0
  image_picker: ^0.8.0+3


flutter_icons:
  android: true
  ios: true
  image_path: "asset/images/icon.png"

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true


  assets:
    - asset/images/


  fonts:
     - family: Schyler
       fonts:
         - asset: asset/fonts/Roboto-Thin.ttf
           weight: 100
         - asset: asset/fonts/Roboto-Regular.ttf
           weight: 400
         - asset: asset/fonts/Roboto-Medium.ttf
           weight: 500
         - asset: asset/fonts/Roboto-Bold.ttf
           weight: 700
         - asset: asset/fonts/Roboto-Black.ttf
           weight: 900
